<footer class="section">
	<div class="container">
		<p class="pull-left">Shane Burkhart</p>
		<div class="pull-right" id="foot-notes">
			<a>FAQ</a>
			<a>Backers</a>
			<a>Contact</a>
		</div>
	</div>
</footer>